# file extensions
**/*.pyc
**/*.h5
**/*.p
!test/test_data/*.p
*.swp
.coverage
.cache.sqlite

# folder
build/*
dist/*
neuralhydrology.egg-info/*
.vscode/*
.idea/*
runs/
configs/*
.ipynb_checkpoints/
data/*
docs/build/*
examples/*
experiments_anna/*
msc_thesis_dominik/*